[submodule "source/includes/library/plugin-update-checker"]
	path = source/includes/library/plugin-update-checker
	url = https://github.com/YahnisElsts/plugin-update-checker.git
[submodule "source/includes/library/redux-framework"]
	path = source/includes/library/redux-framework
	url = https://github.com/reduxframework/redux-framework.git
